[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"

[packages]
jupyterlab = "*"
pandas = "*"
altair = "*"
