[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# For the class
jupyterlab = "*"
pandas = "*"
altair = "*"
# For the docs
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
yolk3k = "*"
myst-nb = "*"

[requires]
python_version = "3.9"
