[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# For the class
jupyterlab = "*"
cython = "*"
pandas = "*"
altair = "*"
yolk = {version = "*", markers="python_version < '3.0'"}
yolk3k = {version = "*", markers="python_version >= '3.0'"}

# For the docs
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
