.cell_output {
    padding-left: 0 !important;
    margin-top: 0 !important;
    overflow: auto !important;
  }
  
  .tag_hide-cell {
    overflow: auto !important;
    display: none !important;
  }

.responsive-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin: 15px 0;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}